.dangling-modification {
    padding: 2px 4px;
    background: #ffff0030;
}
.unsaved-modification {
    background: red;
    /* background: #ff00ff20; */
}

.l-text-prioritaire {
    background: green;
    font-color: white;
    margin: 5px;
    padding: 5px;
    border: 5px;
    /* border: 1px 5px;
     */
    /* border:1pt solid blue; */
}

.l-card {
    background: Gainsboro;
    /* box-shadow: 0 1px 3px rgba(36, 74, 53, 0.2), 0 1px 2px #14141433;
    border-radius: 3px;
    padding: 2px; */
}

.disabled-input {
    background: cornsilk;
    padding: 2px 4px;
    /* box-shadow: 0 1px 3px rgba(74, 36, 36, 0.6), 0 1px 2px rgba(185, 0, 0, 0.54); */
}

.ql-snow .ql-editor p img {
    max-width: 40ch;
    max-height: 26ch;
}
