*.elc
*.pyc
*~
*.dpyc
*.log
*.class
*.zip
*.js.py
*.bat
*#
dist
tmp
lino/ui/qx/app/build/resource
*/SciTE.session
default.db
media/cache
lino_react/tutorials/*/media
lino_react/projects/*/settings/media
lino_react/projects/*/media
lino_react/sandbox/*/media
*/test.db
docs/media
docs/dl/*
lino_react.egg-info
.build/
htmlcov
warnings_linkcheck.txt
.DS_Store
.idea
docs/api/lino.*
docs/tutorials/pisa/pisa.Person-1.pdf
.coverage
.coverage.*
.eggs/
__pycache__

node_modules/

yarn\.lock
