.l-centered-container {
    position: relative;
}
.l-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.l-row-view {
    left: -25px;
    height: 3ch;
    width: 3ch;
    border-radius: 50%;
    background:#005ea8;
    color: white;
}
.l-rv-top {
    top: -25px;
}
.l-rv-bottom {
    bottom: -18px;
}
.p-datatable-resizable .p-datatable-tbody tr td.l-grid-col {
    overflow: auto;
}
.l-grid-col-header {
    display: inline;
}

.l-col-header-helptext {
    position: absolute;
    display: none;
    font-weight: lighter;
    background: #3c3c3c;
    color: white;
    padding: 5px;
    border-radius: 3px;
    top: 50px;
    right: 15px;
    width: 240px;
    z-index: 9999999;
    text-align: center;
}
