<!DOCTYPE html>
<%= webpack_comment %>
<html language="{{requested_language}}">
{%- macro javascript(url) -%}
    <script type="text/javascript" src="{{ url }}"></script>
{%- endmacro -%}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% block title %}{{site.title or site.verbose_name}}{% endblock %}</title>
    <!--<link rel="stylesheet" href="{{site.build_static_url('bootstrap.css')}}" type="text/css">-->
    <link rel="stylesheet" href="{{site.build_media_url('cache', 'local.css')}}" type="text/css">
    <!--<script src="https://cdn.jsdelivr.net/npm/font-awesome-openui5@^3"></script>-->
    <link rel="shortcut icon" type="image/png" href="{{ site.build_static_url('favicon2.ico') }}" />
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">
    <div class="splash-screen">
      <div class="splash-container">
        <div class="splash-double-bounce1"></div>
        <div class="splash-double-bounce2"></div>
      </div>
    </div>
  </div>
</body>


<script>
    window.Lino = Object.assign(window.Lino || {}, {
        lv: {{ lino_version }},
        i18nFallbackLng: "{{ first_language }}",
        site_name: "{{ site_name }}",
    });
</script>


{%- for p in site.sorted_plugins -%}
    {%- if p.get_js_includes -%}
        {%- for name in p.get_js_includes(settings, language) -%}
            {{ javascript(name) }}
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}

{%- for p in site.installed_plugins -%}
    {%- for ln in p.get_head_lines(site, request) %}
        {{ ln }}
    {% endfor -%}
{%- endfor -%}

{{ front_end.load_site_js_snippets(settings) }}

{%- if front_end.url_prefix -%}
<script type="application/javascript">
    window.url_prefix = "{{ front_end.url_prefix }}/";
</script>
{%- endif -%}

<%= webpack_injects %>
<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("service-worker.js{{no_cache}}");
    }
</script>

</html>
