.l-bbar .hidden{
    opacity: 0;
}
.p-inputtext.p-component {
    padding: 0.3rem 0.3rem;
}
.p-component.p-button {
    color: black;
    border: 0;
    padding: 0.3rem 0.3rem;
    vertical-align: middle;
    font-size: 0.85rem;
}
.p-component.p-button:not(.p-highlight) {
    background: transparent;
}
.p-component.p-button.p-button-icon-only {
    width: 1.6rem;
    padding: 0.3rem;
}
.p-button.p-button-icon-only .pi {
    font-size: 0.85rem;
}
.p-splitbutton.p-component {
    vertical-align: middle;
}
div.p-button.p-togglebutton.l-bbar-editor-button .p-button-icon-left {
    color: black;
}
.l-whitewall-body-container div.p-button.p-togglebutton.l-bbar-editor-button .p-button-icon-left {
    color: unset;
}
div.p-button.p-togglebutton.l-bbar-editor-button {
    background: transparent;
    border: 0;
}
div.p-button.p-togglebutton.l-bbar-editor-button:hover {
    color: white;
    background: #116fbf;
    border-color: #116fbf;
}
.p-progress-spinner .p-progress-spinner-circle {
    stroke-linecap: butt;
}
