.l-header {
    padding: 3px;
    border: 1px solid #8080804d;
}
.l-whitewall-body-container .p-button.p-component {
    /* color: #ffffff70; */
}
.l-whitewall-body-container .p-inputtext {
    /* background: transparent;
    color: unset; */
}
