.p-datatable .p-datatable-tbody > tr.yellow, .p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd.yellow {
    background: yellow;
}

.l-grid {
    flex-grow: 1;
}

.l-grid .p-dataview .p-dataview-header{
    padding: 0.15em 0.25em;
}
.l-params-panel-left {
    display: flex;
    flex-direction: row;
}
.l-params-panel-right {
    display: flex;
    flex-direction: row-reverse;
}
.l-card div p {
    margin: 0;
}
.p-panel-content .p-progress-spinner {
    width: 35px;
    height: 35px;
}
.profile-expanded a {
    color: white;
}
.l-whitewall-body, .l-panel.l-whitewall-panel-header {
    /* max-width: 100ch;
    margin: auto; */
}
.l-whitewall-body-container .l-component {
    /* border: 1px solid black; */
}
.l-whitewall-body-container .p-dataview .p-dataview-content {
    /* background: unset; */
}
.l-whitewall-body-container .l-detail-header.p-panel-header {
    /* background: transparent;
    color: unset;
    border: none; */
}
body.l-whitewall-body-container .l-whitewall-list-panel > div.p-panel-header {
    /* background: #171506;
    color: forestgreen;
    border: 1px solid #000; */
}
body.l-whitewall-body-container .p-panel .p-panel-content {
    /* background: unset;
    color: white;
    border: 1px solid #000; */
}
body.l-whitewall-body-container .p-panel .p-panel-header {
    /* background: #2d2c2a;
    border: 1px solid #000;
    color: unset;
    padding: 5px; */
}
body.l-whitewall-body-container .p-dataview .l-whitewall-list-panel .p-panel-header {
    /* padding: 5px; */
}
.l-editor .p-editor-container .p-editor-toolbar {
  background: #56AFDF2B;
}
