.ql-mention-list {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
.ql-mention-list-item {
    padding: 6px;
}
.ql-mention-list-item.selected {
    background-color: #002c932e;
    border: 0px solid white;
    border-radius: 2px;
    font-size: 110%;
}
.ql-mention-list-container {
    border: 2px solid gray;
    background-color: white;
    box-shadow: 0 5px 5px 0 gray, 0 5px 5px 0 gray;
}
.search-match {
    background-color: #f7f7f7b5;
}
.p-transparent-button.p-button:focus {
    box-shadow: 0 0 white;
}
