.ql-mention-list {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
.ql-mention-list-item {
    padding: 6px;
}
.ql-mention-list-item.selected {
    background-color: #002c932e;
    border: 0px solid white;
    border-radius: 2px;
    font-size: 110%;
}
.ql-mention-list-container {
    border: 2px solid #7d7d7d1f;
    border-radius: 5px;
    background-color: white;
}
.search-match {
    background-color: #f7f7f7b5;
}
